.FormRadio {
  display: flex;
  flex-direction: column;
}

.FormRadio label {
  margin: 5px 38px;
}

.FormRadio label {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

/* Hide the browser's default radio button */
.FormRadio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.FormRadioCircle {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.FormRadio label:hover input ~ .FormRadioCircle {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.FormRadio input:checked ~ .FormRadioCircle {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.FormRadioCircle:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.FormRadio input:checked ~ .FormRadioCircle:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.FormRadio .FormRadioCircle:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
